/* Navigation Main
======================================== */


.wrapper-nav-main {
    justify-content   : space-between;
    // align-items    : center;
    list-style        : none;
    padding           : 5px 0px;
    text-align        : left;
    position          : relative;
}

.navbar-brand {
    height     : 50px;
    font-size  : 20px;
    padding    : 5px 0px;
}

.navbar-right {
    height     : 50px;
    font-size  : 20px;
    padding    : 5px 0px;
    align-items: right;
}


.minScreenMenu {
    float: right;
}

.menu .list,
.menu .list ul li
{
    list-style-type: none;
}


.wrapper-nav-main .menu-main {
    display        : inline-block;
    justify-content: space-between;
    position       : relative;
    list-style-type: none;
    padding-left   : 5px;
}

.wrapper-nav-main .menu-main .rootMenu {
    list-style-type: none;
}

@media (max-width: 1550px) {
    .wrapper-nav-main .menu-main {
        width: 730px;
    }
}

@media (max-width: 1199.98px) {
    .wrapper-nav-main .menu-main {
        display: none;
    }
}

.wrapper-nav-main .menu-main li {
    position: static;
    display : inline-block;
}

.wrapper-nav-main .menu-main li:first-child {
    margin: 0;
}

.wrapper-nav-main .menu-main li:after {
    content : '';
    display : block;
    position: relative;
    width   : 100%;
    height  : 25px;
}

.wrapper-nav-main .menu-main li a {
    position       : relative;
    // color          : #3C3C3B;
    text-transform : uppercase;
    text-decoration: none;
}

.wrapper-nav-main .menu-main li a.link_level_1:before {
    content     : "";
    position    : absolute;
    width       : 0;
    height      : 0;
    top         : 30px;
    border-style: solid;
    border-width: 0 9.5px 11px 9.5px;
    border-color: transparent transparent #DFDFDF transparent;
    z-index     : 998;
    opacity     : 0;
    transform   : translateY(15px);
    transition  : opacity 200ms cubic-bezier(0.45, 0.06, 0.15, 1);
}

.wrapper-nav-main .menu-main li a.link_level_1:after {
    content     : "";
    position    : absolute;
    width       : 0;
    height      : 0;
    top         : 31px;
    left        : 1px;
    border-style: solid;
    border-width: 0 8.5px 10px 8.5px;
    border-color: transparent transparent #ffffff transparent;
    z-index     : 9999;
    opacity     : 0;
    transform   : translateY(15px);
    transition  : opacity 200ms cubic-bezier(0.45, 0.06, 0.15, 1);
}

.wrapper-nav-main .menu-main li a.link_level_1 i {
    color      : #E74315;
    font-size  : 11px;
    margin-left: 2px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main {
    visibility      : hidden;
    display         : flex;
    flex-flow       : wrap;
    opacity         : 0;
    position        : absolute;
    padding         : 50px 20px 30px 70px;
    margin          : 0;
    left            : 0;
    top             : 40px;
    width           : calc(100% + 210px);
    background-color: #FFFFFF;
    border          : 1px solid #DFDFDF;
    border-radius   : 5px;
    transform       : translate(-105px, 10px);
    z-index         : 999;
    transition      : all 150ms cubic-bezier(0.45, 0.06, 0.15, 1);
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main.level3 {
    max-height: 520px;
    padding   : 30px 20px 20px 50px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li {
    margin       : 0;
    width        : 33.3333%;
    padding-right: 50px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li:after {
    display: none;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a {
    display        : inline-block;
    font-size      : 1.3rem;
    line-height    : 1.6rem;
    text-transform : none;
    color          : #E74315;
    margin-bottom  : 15px;
    text-decoration: none;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a span.grey {
    color: #909090;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a i {
    color         : #3C3C3B;
    font-size     : 19px;
    margin-right  : 5px;
    vertical-align: middle;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a .description-menu {
    padding: 5px 0 0 28px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a .description-menu p {
    font-weight: 300;
    font-size  : 1.2rem;
    line-height: 1.7rem;
    color      : #3C3C3B;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a .description-menu hr {
    margin-top: 15px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a.no-icon {
    padding: 0 0 0 28px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a.no-icon .description-menu {
    padding: 5px 25px 0 0;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a:hover {
    color    : rgba(231, 67, 21, 0.6);
    transform: translateX(2px);
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a+.menu-level3 {
    display        : flex;
    flex-flow      : wrap;
    justify-content: space-between;
    padding        : 0 0 35px 28px;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a+.menu-level3 li {
    width         : 45%;
    margin-bottom : 3px;
    vertical-align: top;
    padding       : 0;
}

.wrapper-nav-main .menu-main li a.link_level_1+ul.submenu-main li a+.menu-level3 li a {
    font-size  : 1.1rem;
    line-height: 1.4rem;
    padding    : 0;
    margin     : 0;
}

.wrapper-nav-main .menu-main li.search a i {
    color      : #E74315;
    font-size  : 13px;
    margin-left: 2px;
}

.wrapper-nav-main .menu-main li:hover a:before {
    opacity   : 1;
    transform : translateY(0);
    transition: all 750ms cubic-bezier(0.45, 0.06, 0.15, 1);
}

.wrapper-nav-main .menu-main li:hover a:after {
    opacity   : 1;
    transform : translateY(0);
    transition: all 750ms cubic-bezier(0.45, 0.06, 0.15, 1);
}

.wrapper-nav-main .menu-main li:hover a+ul.submenu-main {
    visibility: visible;
    opacity   : 1;
    transform : translate(-105px, 0);
}

.wrapper-nav-main .menu-main li.legend {
    position     : absolute;
    bottom       : 15px;
    right        : 25px;
    width        : auto !important;
    padding-right: 0 !important;
}

.wrapper-nav-main .menu-main li.legend p {
    font-size: 11px;
}

.wrapper-nav-main .menu-main li.legend p:first-child {
    font-weight: bold;
}

.wrapper-nav-main .menu-main li.legend i {
    font-size     : 8px;
    vertical-align: top;
    margin-top    : 8px;
}

.wrapper-nav-main .wrapper-btn-contact {
    width     : 210px;
    text-align: right;
}

@media (max-width: 1199.98px) {
    .wrapper-nav-main .wrapper-btn-contact {
        display: none;
    }
}

.wrapper-nav-main .wrapper-btn-contact a.btn-round-blue {
    text-transform: uppercase;
}

.open-navigation {
    width   : 25px;
    height  : 18px;
    position: relative;
    cursor  : pointer;
    display : none;
}

@media (max-width: 1199.98px) {
    .open-navigation {
        display: inline-block;
    }
}

.open-navigation span {
    background-color: #E74315;
    position        : absolute;
    border-radius   : 2px;
    transition      : 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.open-navigation span:nth-child(1) {
    width  : 100%;
    height : 2px;
    display: block;
    top    : 0px;
    left   : 0px;
}

.open-navigation span:nth-child(2) {
    width  : 100%;
    height : 2px;
    display: block;
    top    : 8px;
    left   : 0px;
}

.open-navigation span:nth-child(3) {
    width  : 100%;
    height : 2px;
    display: block;
    bottom : 0px;
    left   : 0px;
}

.open-navigation.open span:nth-child(1) {
    left      : 3px;
    top       : 11px;
    width     : 25px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    opacity   : 0;
}

.open-navigation.open span:nth-child(2) {
    left      : 11px;
    top       : 10px;
    width     : 15px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transform : rotate(-45deg);
}

.open-navigation.open span:nth-child(3) {
    left      : 11px;
    top       : 10px;
    width     : 15px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transform : rotate(45deg);
}

/* Navigation Responsive
  ======================================== */
.navbar-responsive {
    visibility: hidden;
    height    : 0;
}

.navbar-responsive.mm-menu_offcanvas {
    visibility: visible;
    background: #FFFFFF;
    max-width : 100%;
    width     : 100%;
    height    : auto;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbars_top .mm-navbar {
    background: #FFFFFF;
    height    : auto;
    padding   : 0 0 0 25px;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbars_top .mm-navbar .mm-btn_prev {
    position    : relative;
    width       : 65px;
    background  : #f5f5f5;
    margin-right: 15px;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbars_top .mm-navbar .mm-btn_prev:before {
    width       : 6px;
    height      : 6px;
    left        : 30px;
    border-color: #E74315;
    border-width: 1px;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbars_top .mm-navbar .mm-navbar__title {
    display        : flex;
    justify-content: space-between;
    // color          : #3C3C3B;
    font-size      : 1.3rem;
    line-height    : 3.5rem;
    padding        : 20px 0;
    height         : 75px;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbars_top .mm-navbar .mm-navbar__title {
    padding: 0;
    height : auto;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbars_top .mm-navbar .mm-navbar__title .open-navigation {
    float: right;
    right: 32px;
    top  : 12px;
}

.navbar-responsive.mm-menu_offcanvas .mm-navbar__title {
    display: none;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels {
    background: #FFFFFF;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-navbar {
    display: none;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel {
    background: #FFFFFF;
    padding   : 20px 10px;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview {
    margin: 0;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem {
    border    : none;
    border-top: 1px solid #DFDFDF;
    margin    : 0 20px;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem.search {
    cursor: pointer;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem:after {
    display: none;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem:first-child {
    border-top: none;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem:first-child i {
    display: none;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem .mm-listitem__text {
    padding: 15px 0px;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem .mm-listitem__text i {
    color : #E74315;
    margin: 0 5px 0 0;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem .mm-listitem__btn {
    border          : none;
    background-color: #f5f5f5;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem .mm-listitem__btn.mm-btn_next:after {
    right       : 25px;
    width       : 6px;
    height      : 6px;
    border-color: #E74315;
    border-width: 1px;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem.wrapper-btn-contact {
    display    : block;
    margin-top : 0;
    padding-top: 15px;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem.wrapper-btn-contact .btn-round-blue {
    display   : inline-block;
    text-align: left;
    color     : #FFFFFF;
    padding   : 10px 20px;
}

.navbar-responsive.mm-menu_offcanvas .mm-panels .mm-panel .mm-listview .mm-listitem.wrapper-btn-contact .btn-round-blue:hover {
    color: #6F9BB1;
}

.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
    transform: translate3d(-100%, 0, 0);
}

/* Navigation Left
  ======================================== */
.navigation-2019-left {
    width     : 290px;
    opacity   : 1;
    transition: opacity 350ms cubic-bezier(0.45, 0.06, 0.15, 1);
}

.navigation-2019-left .table-of-content {
    border       : 1px solid #DFDFDF;
    border-radius: 5px;
    padding      : 30px;
    margin-top   : 90px;
    max-height   : calc(100vh - 55px);
    overflow-y   : auto;
}

.navigation-2019-left .table-of-content .title-nav {
    font-size     : 1.3rem;
    line-height   : 2.3rem;
    text-transform: uppercase;
}

.navigation-2019-left .table-of-content .link-nav {
    list-style-type: none;
    padding        : 0;
    margin         : 20px 0 0 0;
}

.navigation-2019-left .table-of-content .link-nav li {
    font-size    : 1.3rem;
    line-height  : 2rem;
    margin-bottom: 10px;
}

.navigation-2019-left .table-of-content .link-nav li:last-child {
    margin: 0;
}

.navigation-2019-left .table-of-content .link-nav li a {
    color: #6F9BB1;
}

.navigation-2019-left .table-of-content .link-nav li a:hover {
    color: rgba(111, 155, 177, 0.6);
}

.navigation-2019-left.headroom--not-top {
    position: fixed;
    top     : 25px;
}

.navigation-2019-left.headroom--not-top .table-of-content {
    margin-top: 0;
}

.navigation-2019-left.headroom--bottom {
    opacity: 0;
}

@media (max-width: 991px) {
    .navigation-2019-left {
        display: block;
        width  : 100%;
    }

    .navigation-2019-left .table-of-content {
        border       : none;
        border-radius: 0;
        padding      : 0 15px;
        margin-top   : 0;
        width        : 100%;
    }

    .navigation-2019-left .table-of-content .title-nav {
        display: none;
    }

    .navigation-2019-left .table-of-content .link-nav {
        margin-top : 0;
        text-align : left;
        overflow-x : auto;
        white-space: nowrap;
        padding    : 20px 0;
    }

    .navigation-2019-left .table-of-content .link-nav li {
        margin-bottom: 0;
        margin-right : 15px;
        display      : inline-block;
    }

    .navigation-2019-left .table-of-content .link-nav li:last-child {
        margin-right: 0;
    }

    .navigation-2019-left.headroom--not-top {
        position: relative;
        top     : 0;
    }

    .navigation-2019-left.headroom--not-top .table-of-content {
        margin-top: 0;
    }
}