<form autocomplete="off" #createAgentModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title *ngIf="!id">{{ "CreateAgent" | localize }}</h1>
    <h1 mat-dialog-title *ngIf="id">{{ "EditAgent" | localize }}</h1>
    <mat-dialog-content style="width:650px;height:400px;">
        <span class="ui-g-12 ui-md-3">{{'Name' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <input required type="text" size="58" pInputText [(ngModel)]="newItem.name" name="name" [placeholder]="'Agent' | localize" />
        </div>
        <span class="ui-g-12 ui-md-3">{{'AgentCode' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <input required type="text" size="58" pInputText [(ngModel)]="newItem.code" name="code" [placeholder]="'AgentCode' | localize" />
        </div>
        <span class="ui-g-12 ui-md-3">{{'AgentNickName' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <input required type="text" size="58" pInputText [(ngModel)]="newItem.nickName" name="AgentNickName" [placeholder]="'AgentNickName' | localize" />
        </div>
        <span class="ui-g-12 ui-md-3">{{'Description' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <input type="text" size="58" pInputText [(ngModel)]="newItem.description" name="description" [placeholder]="'Description' | localize" />
        </div>
        <span class="ui-g-12 ui-md-3">{{'Status' | localize}}: </span>
        <span class="ui-g-12 ui-md-9">
            <p-checkbox name="status" [(ngModel)]="newItem.status" binary="true"></p-checkbox>
        </span>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false,null)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!createAgentModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>