<ul class="menu-main">
    <li class="rootMenu" *ngFor="let menuItem of rootMenuItems">
        <a mat-button *ngIf="menuItem.url" href="menuItem.url" target="_blank">
            <span>{{menuItem.name | localize}}</span>
        </a>
        <a mat-button *ngIf="!menuItem.url && !(menuItem.children && menuItem.children.length)"
            [routerLink]="menuItem.menuUrlRoute">
            <span>{{menuItem.name | localize}}</span>
        </a>
        <a mat-button *ngIf="!menuItem.url && menuItem.children && menuItem.children.length" [routerLink]="menuItem.menuUrlRoute"
            [matMenuTriggerFor]="subMenu" (click)="openSubMenu(menuItem)">
            <span>{{menuItem.name | localize}}</span>
        </a>
        <i *ngIf="menuItem.children && menuItem.children.length" class="fa fa-chevron-down"></i>
    </li>
</ul>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item *ngFor="let menuItem of subMenuItems">
        <a mat-button *ngIf="menuItem.url" href="menuItem.url" target="_blank">
            <span>{{menuItem.name | localize}}</span></a>
        <a *ngIf="!menuItem.url &&!(menuItem.children && menuItem.children.length)" [routerLink]="menuItem.menuUrlRoute">
            <span>{{menuItem.name | localize}}</span></a>
        <a *ngIf="!menuItem.url && menuItem.children && menuItem.children.length" [matMenuTriggerFor]="subMenu"
            (click)="openSubMenu(menuItem)">
            <span>{{menuItem.name | localize}}</span></a>
        <i *ngIf="menuItem.children && menuItem.children.length" class="fa fa-chevron-down"></i>
    </button>
</mat-menu>

<mat-menu #subSubMenu="matMenu">
    <button mat-menu-item *ngFor="let menuItem of subSubMenuItems">
        <a mat-button *ngIf="menuItem.url" href="menuItem.url" target="_blank">
            <span>{{menuItem.name | localize}}</span></a>
        <a *ngIf="!menuItem.url &&!(menuItem.children && menuItem.children.length)" [routerLink]="menuItem.menuUrlRoute">
            <span>{{menuItem.name | localize}}</span></a>
        <a *ngIf="!menuItem.url && menuItem.children && menuItem.children.length" [matMenuTriggerFor]="subSubMenu"
            (click)="openSubSubMenu(menuItem)">
            <span>{{menuItem.name | localize}}</span></a>
        <i *ngIf="menuItem.children && menuItem.children.length" class="fa fa-chevron-down"></i>
    </button>
</mat-menu>