<form autocomplete="off" #createProductModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title *ngIf="!id">{{ "CreateProduct" | localize }}</h1>
    <h1 mat-dialog-title *ngIf="id">{{ "EditProduct" | localize }}</h1>
    <mat-dialog-content style="width:650px;height:400px;">
        <span class="ui-g-12 ui-md-3">{{'Name' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <input required type="text" size="58" pInputText [(ngModel)]="newItem.name" name="ProductName" [placeholder]="'ProductName' | localize" />
        </div>
        <span class="ui-g-12 ui-md-3">{{'Supplier' | localize}}: </span>
        <p-dropdown appendTo="body" required name="supplierList" [options]="supplierList" optionLabel="name" [(ngModel)]="selectedSupplier" [emptyFilterMessage]="l('emptyFilterMessage')" [filter]="true" class="ui-g-12 ui-md-9 " [placeholder]="l('Choose')" styleClass="primengMultilSelect"
            [style]="{'width':'100%'}"></p-dropdown>
        <span class="ui-g-12 ui-md-3">{{'Operator' | localize}}: </span>
        <p-multiSelect appendTo="body" required name="operatorList" [options]="operatorList" optionLabel="name" [emptyFilterMessage]="l('emptyFilterMessage')" [(ngModel)]="selectedOperatorList" [filter]="true" [virtualScroll]="true" itemSize="50" class="ui-g-12 ui-md-9" [defaultLabel]="l('Choose')"
            styleClass="primengMultilSelect" [style]="{'width':'100%'}"></p-multiSelect>
        <span class="ui-g-12 ui-md-3">{{'Province' | localize}}: </span>
        <p-multiSelect appendTo="body" required name="ProvinceList" [options]="provinceList" optionLabel="name" [emptyFilterMessage]="l('emptyFilterMessage')" [(ngModel)]="selectedProvinceList" [filter]="true" [virtualScroll]="true" itemSize="50" (onPanelHide)="provinceListonPanelHide($event)"
            class="ui-g-12 ui-md-9 " [defaultLabel]="l('Choose')" [filter]="true" styleClass="primengMultilSelect" [style]="{'width':'100%'}"></p-multiSelect>
        <span class="ui-g-12 ui-md-3">{{'FaceValue' | localize}}: </span>
        <p-multiSelect appendTo="body" required name="FaceValueList" [options]="faceValueList" optionLabel="name" [emptyFilterMessage]="l('emptyFilterMessage')" [(ngModel)]="selectedFaceValueList" class="ui-g-12 ui-md-9 " [defaultLabel]="l('Choose')" [filter]="false" styleClass="primengMultilSelect"
            [style]="{'width':'100%'}">
        </p-multiSelect>
        <span class="ui-g-12 ui-md-3">{{'Discount' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <p-spinner required [step]="0.01" [placeholder]="'Discount' | localize" [(ngModel)]="newItem.discount" name="discount"></p-spinner>
        </div>
        <span class="ui-g-12 ui-md-3">{{'PresentValue' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <p-spinner required [step]="0.01" [placeholder]="'PresentValue' | localize" [(ngModel)]="newItem.presentValue" name="PresentValue"></p-spinner>
        </div>
        <span class="ui-g-12 ui-md-3">{{'Status' | localize}}: </span>
        <p-toggleButton class="ui-g-12 ui-md-9" name="isAutoReturnMoney" [onLabel]="l('OnShelf')" [offLabel]="l('OutShelf')" [(ngModel)]="newItem.status">
        </p-toggleButton>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!createProductModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>