<form autocomplete="off" #createSupplierPay="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title *ngIf="!id">{{ "CreateSupplierPay" | localize }}</h1>
    <h1 mat-dialog-title *ngIf="id">{{ "EditSupplierPay" | localize }}</h1>
    <mat-dialog-content style="width:650px;height:200px;">
        <span class="ui-g-12 ui-md-3">{{'Supplier' | localize}}: </span>
        <p-dropdown appendTo="body" required name="supplierList" [options]="supplierList" optionLabel="name" [(ngModel)]="selectedSupplier" [emptyFilterMessage]="l('emptyFilterMessage')" [filter]="true" class="ui-g-12 ui-md-9 " [placeholder]="l('Choose')" styleClass="primengMultilSelect"
            [style]="{'width':'100%'}"></p-dropdown>

        <span class="ui-g-12 ui-md-3">{{'Amount' | localize}}: </span>
        <div class="ui-g-12 ui-md-9">
            <p-spinner required [step]="0.01" [placeholder]="'Amount' | localize" [(ngModel)]="newItem.totalValue" name="Amount"></p-spinner>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
                {{ "Cancel" | localize }}
            </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!createSupplierPay.form.valid || saving">
                {{ "Save" | localize }}
            </button>
    </div>
</form>