<p>供应商</p>
<div class="ui-g">

    <p-table #dt [columns]="cols" [value]="datas" selectionMode="multiple" [paginator]="true" [rows]="10" [first]="first" [(selection)]="selectedItems">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
                <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
                <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                    <!-- <span *ngIf="col.field!='isAutoReturnMoney' && col.field!='status'"> {{rowData[col.field]}}</span>
                    <span *ngIf="col.field=='status'">  
                        <p-toggleButton [(ngModel)]=" rowData[col.field]"></p-toggleButton>
                    </span>
                    <span *ngIf="col.field=='isAutoReturnMoney' && rowData[col.field]==1"> {{"Open" | localize}}</span>
                    <span *ngIf="col.field=='isAutoReturnMoney' && rowData[col.field]==2"> {{"Close" | localize}}</span> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <div class="ui-g-12">
        <input type="text" placeholder="input text" pInputText [(ngModel)]="property" />
        <button pButton type="button" label="Search"></button>
    </div>
    <div class="ui-g-12">
        
        <p-table [value]="datas" [paginator]="true" [rows]="10" [first]="first" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{ "Id" | localize }}</th>
                    <th>{{ "SupplierName" | localize }}</th>
                    <th>{{ "IsAutoReturnMoney" | localize }}</th>
                    <th>{{ "Status" | localize }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.id}}</td>
                    <td>{{car.name}}</td>
                    <td *ngIf="car.isAutoReturnMoney==1">{{"Open" | localize}}</td>
                    <td *ngIf="car.isAutoReturnMoney==2">{{"Close" | localize}}</td>
                    <td>
                        <p-toggleButton [(ngModel)]="car.status"></p-toggleButton>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div> -->
</div>