<div [@routerTransition]>
    <div class="block-header">
        <h2>Bing Map</h2>
    </div>
    <div style="height: 600px">
        <x-map #xmap [Options]="_options" [Box]="_box">
            <x-map-marker [Latitude]="29.714994" [Longitude]="-95.46244" [Title]="'My Marker'" [IconInfo]="_iconInfo">
                <x-info-box [DisableAutoPan]="true" [Title]="'My InfoBox'"
                    [Description]="'Hi, this is the content of the <strong>info window</strong>. It is your responsibility to implement functionality such as close, etc...'">
                    <x-info-box-action [Label]="'Click Me'" (ActionClicked)="_click()"></x-info-box-action>
                </x-info-box>
            </x-map-marker>
        </x-map>
    </div>
    <div class="block-header">
        <h2>Google Map</h2>
    </div>
    <div style="height: 600px">
        <x-map #xmapG [Options]="_options" [Box]="_box">
            <x-map-marker [Latitude]="29.714994" [Longitude]="-95.46244" [Title]="'My Marker'" [IconInfo]="_iconInfo">
                <x-info-box [DisableAutoPan]="true" [Title]="'My InfoBox'"
                    [Description]="'Hi, this is the content of the <strong>info window</strong>. It is your responsibility to implement functionality such as close, etc...'">
                    <x-info-box-action [Label]="'Click Me'" (ActionClicked)="_click()"></x-info-box-action>
                </x-info-box>
            </x-map-marker>
        </x-map>
    </div>
</div>